
body {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
}

h1 {
    color: maroon;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.bullet {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
}

.sub-left {
  text-align: center;
  font-size: medium;
}

.sub-right {
  margin-right: 80px;
  font-size: medium;
}

.btn btn-primary{
  display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}